{
  "presets": [
    [
      "latest",
      {
        "es2017": false,
        "es2015": {
          "modules": false
        }
      }
    ]
  ],
  "plugins": [
    "syntax-jsx",
    "transform-react-jsx",
    "transform-object-rest-spread"
  ]
}
