<nav class="top-nav">
  <h1 data-test-logo>NashReact</h1>

  <ul data-test-side-navigation>
    <li>{{#link-to "profile"}}Profile{{/link-to}}</li>
    <li>{{#link-to "settings"}}Settings{{/link-to}}</li>
    <li>{{#link-to "friends"}}Friends{{/link-to}}</li>
    <li>{{#link-to "messages"}}Messages{{/link-to}}</li>
    <li>{{#link-to "logout"}}Logout{{/link-to}}</li>
  </ul>
</nav>

